.link {
	@apply flex items-center gap-6;

	> .title {
		@apply font-semibold text-xl;
		background-image: linear-gradient(135deg, #12bcb0 20%, #fabe0e 70%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.header {
	@apply flex-default;

	> .heading {
		@apply font-semibold text-xl flex items-center gap-3;
	}
}
