.search_list {
	@apply absolute bg-gray-500 p-2 rounded-xl animate-scale;
	width: 100%;
	min-height: 100px;
	top: calc(100% + 15px);
	z-index: 3;

	> a {
		@apply flex items-center gap-3 mt-3 border-r-2 border-transparent text-white;

		transition: all 0.3s ease;
		&:hover {
			@apply border-white;
		}
	}
}
.flex_wrapper {
	@apply flex flex-col;
}
