.item {
	@apply flex items-center justify-between w-4/5 mt-8 bg-gray-500
	rounded-xl mx-auto;
	padding: 10px;
	> div {
		@apply truncate;
		width: 24%;
		&:last-child {
			width: 14%;
		}
	}
}

.headerItem {
	@apply bg-yellow-700 text-black font-semibold;
}
