.layout {
	@apply relative overflow-hidden;

	> header {
		min-height: 5rem;
		@apply pl-7 pr-7;
	}

	> aside {
		@apply fixed top-24 bottom-7 overflow-y-auto;
	}

	> aside:first-of-type {
		@apply left-0 flex justify-between;
		width: 20%;
	}

	> aside:last-child {
		@apply right-10 top-10;
		width: 20%;
	}

	.center_part {
		@apply min-h-screen p-4;
		padding-top: 0;
		margin: 0 20%;
	}
}
